@model Product
@{
    ViewData["Title"] = "Add new Product";
    var brands = ViewBag.Brands as IEnumerable<SelectListItem>;
}

<h3>New Products</h3>

<form asp-controller="Product" asp-action="Add" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" placeholder="Enter a name" asp-for="Name" />
    </div>  
    <div class="form-group">
        <label for="name">Brand</label>
        <select class="form-control" asp-for="BrandId" da asp-items="brands"></select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

@*form>
<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>*@
<a asp-controller="Product" asp-action="List">List Products</a>